{{#get "posts" limit="6" filter="tag:hash-surveillance"}}    
        <section class="featured-wrapper container">
            <h2 class="featured-title"><a href="/surveillance/">Surveillance</a></h2>
            <div class="featured-feed owl">
                {{#foreach posts}}
                    <article class="{{post_class}}">
                        {{#if feature_image}}
                            <div class="u-placeholder horizontal">
                                <img class="lazyload u-object-fit"
                                    data-srcset="{{> srcset}}" data-sizes="auto"
                                    src="{{img_url feature_image size="m"}}"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="{{title}}">
                            </div>
                        {{/if}}
                        <h3 class="post-title">{{title}}</h3>
                        <a class="u-permalink" href={{url}}
                            aria-label="{{title}}"></a>
                    </article>
                {{/foreach}}
            </div>
        </section>
{{/get}}
{{#get "posts" limit="6" filter="tag:hash-commentary"}}    
        <section class="featured-wrapper container">
            <h2 class="featured-title">Commentary</h2>
            <div class="featured-feed owl">
                {{#foreach posts}}
                    <article class="{{post_class}}">
                        {{#if feature_image}}
                            <div class="u-placeholder horizontal">
                                <img class="lazyload u-object-fit"
                                    data-srcset="{{> srcset}}" data-sizes="auto"
                                    src="{{img_url feature_image size="m"}}"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    alt="{{title}}">
                            </div>
                        {{/if}}
                        <h3 class="post-title">{{title}}</h3>
                        <a class="u-permalink" href={{url}}
                            aria-label="{{title}}"></a>
                    </article>
                {{/foreach}}
            </div>
        </section>
{{/get}}
